Repository NegriHenrique/automatiza-od: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, bandit, safety, mypy, check-yaml, check-json, check-docstring

black:
  name: black
  entry: black
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --max-line-length=88
  - --extend-ignore=E203

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -r
  - .
  - --skip=B101,B601,B603,B607

safety:
  name: safety
  entry: safety check
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --strict-optional
  require_serial: true

check-yaml:
  name: check yaml
  entry: python -c 'import sys, yaml; yaml.safe_load(open(sys.argv[1]))'
  language: system

check-json:
  name: check json
  entry: python -c 'import sys, json; json.load(open(sys.argv[1]))'
  language: system

check-docstring:
  name: check docstring
  entry: python -c 'import sys, ast; ast.parse(open(sys.argv[1]).read())'
  language: system

feat: aprimora testes e verificações de segurança
  .github/workflows/ci-cd.yml
Due: check-yaml

feat: aprimora processo de build e distribuição
  .github/workflows/ci-cd.yml
Due: check-yaml

fix: ajusta configuração da pipeline CI/CD
  .flake8
  .github/workflows/ci-cd.yml
Due: check-yaml

fix: corrige duplicação de per-file-ignores no arquivo .flake8
  .flake8
Due: none

fix: remove comentários da seção ignore no .flake8
  .flake8
Due: none

feat: Implementar melhorias de acessibilidade e UX/UI no sistema "Ordem do Dia"
  CI_CD_FIXES.md
  PROJETO_FINALIZADO.txt
  RELATORIO_FINAL_TESTES.md
  RELATORIO_TESTES.md
  RELATORIO_TESTES_FINAL.md
  docs/MANUAL_DISTRIBUICAO.md
  docs/MANUAL_USUARIO.md
  docs/MELHORIAS_ACESSIBILIDADE.md
  docs/PROJETO_FINALIZADO.md
  docs/README_DINAMICO.md
  docs/SECURITY_IMPROVEMENTS.md
  docs/SECURITY_RESOLUTION.md
  version_info.txt
Due: none

Implement code changes to enhance functionality and improve performance
  .github/workflows/ci-cd.yml
  bandit-report.json
Due: check-yaml, check-json

fix: comentar função de verificação de vulnerabilidades com Safety
  security_check.py
Due: black, flake8, bandit, safety, mypy, check-docstring

ci: fix packages version
  .github/workflows/ci-cd.yml
Due: check-yaml

ci: fix test exe
  .github/workflows/ci-cd.yml
Due: check-yaml

ci: remove release and notify
  .github/workflows/ci-cd.yml
Due: check-yaml

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$, but not: ^(tests/|.venv/|build_temp/|htmlcov/|distribuicao/)
  safety: any of: \.py$
  mypy: any of: \.py$
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-docstring: any of: \.py$
